<h1><%= @shop.name %></h1>
<hr />
# <p>What would you like to do?</p>
# <%= link_to 'View depts', shop_depts_path(@shop) %>
# <br />
# <%= link_to 'Edit shop', edit_shop_path(@shop) %>
# <br />
# <%= link_to 'Delete shop', @shop, method: :delete %>
